<body>
    <header class="header-content header">
      <div class="logo-content">
        <img src="./assets/images/logo.png" alt="logo">
        <div>
          <span class="emp-text">EMPLOYEE</span><br>
          <span class="emp-text emp-payroll">PAYROLL</span>
        </div>
      </div>
    </header>
    <div class="main-content">
      <div class="header-content employee-header">
        <div class="emp-detail-text">
          Employee Details
          <div class="emp-count">10</div>
        </div>
        <a class="add-button"  routerLink="/empLogin">
          <!-- <img src="./assets/icons/icons8-plus-+.svg" alt=""> -->
          Add User
        </a>
        </div>
        <div class="table-main">
          <table id="display" class="table">
              <tr>
                  <!-- <th>EmployeeId</th> -->
                  <th>Name</th>
                  <th>Gender</th>
                  <th>ProfilePic</th>
                  <th>Salary</th>
                  <th>Departments</th>
                  <th>Email-Id</th>
                  <th>Password</th>
                  <th>Note</th>
                  <th>Actions</th>
              </tr>
              <tr *ngFor="let employee of EmployeesList ">
                  <!-- <td>{{employee.employeeId}}</td> -->
      
                  <td>{{employee.name}}</td>
                  <td>
                    {{employee.gender}}
                  </td>
                  <td>
                    <img class="profile" src={{employee.profilePic}} alt="">
                  </td>
                  <td>{{employee.salary}}</td>
                  <td>{{employee.department}}</td>
                  <td>{{employee.emailId}}</td>
                  <td>{{employee.password}}</td>
                  <td>{{employee.note}}</td>
                  
                 
                  <td>
                      <img (click)="DeleteEmployee(employee.employeeId)" alt="delete" src="./assets/icons/delete-black-18dp.svg">
                      <img  alt="edit" src="./assets/icons/create-black-18dp.svg" routerLink="/update/{{employee.employeeId}}" >
                  </td>
              </tr>
          </table>
      </div>
    </div>
    </body>